<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="/login/" method="post">
        <p>
            <label for="username">Username</label>
            <input type="text" name="username" required>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" name="password" required>
        </p>
        <p>
            <input type="submit" value="Login" name="login">
            <input type="submit" value="Registration" name="registration">
        </p>
    </form>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
</body>
</html>